services:
  - type: web
    name: carrerconnect
    runtime: php
    buildCommand: |
      composer install --no-dev --optimize-autoloader
      npm install
      npm run build
    startCommand: php artisan serve --host 0.0.0.0 --port $PORT
    buildImage:
      type: quickstart
    plan: free
    region: oregon
    publishPath: public
